body {
  display: box; display: flexbox;
  box-align: center; flex-align: center;
  box-pack: center; flex-pack: center;
}

#memeinfo {
  border-right: solid 2px black;
  height: 100%;
}

#memeviewer {
  display: box; display: flexbox;
  box-align: center; flex-align: center;
  box-pack: center; flex-pack: center;
}

#container {
  height: 100%;
  width: 100%;
}

.ote {
  margin-left: 5%;
}

.ott {
  margin-top: 5%;
}

.centerer {
  align-items: center;
  margin-top: 2%;
}
